php_value memory_limit 128M
php_value post_max_size 30M
php_value upload_max_filesize 30M

Options +FollowSymLinks

# Turn on the rewrite engine
RewriteEngine On

# if you installed the script in a subdir use something like below
# RewriteBase /subdirectory/

RewriteCond $1 !^(index\.php|dir\.php|cute-file-browser|assets|Maker|books|test\.php|thumb\.jpg)
RewriteRule ^(.*)$ index.php/$1