@charset UTF-8;
html,
body{height:100%;font:16px;}
body{font-size:.95em;}
html,body,div,p,input,select,fieldset,form,ul,ol,li,dl,dt,dd,h1,h2,h3,h5,h6{margin:0;padding:0;outline:0;text-indent: 0;text-align:justify;color:#5b4636;font-family:Helvetica,Arial,sans-serif;line-height:1.5em;}
h1,h2,h3,h5,h6{font-family:Times, Times New Roman, serif;line-height:1.5em;}
body{background-color:#f4ecd8;}
a{text-decoration:none;cursor:pointer}
a:hover{text-decoration:underline}
img,input{border:0}
p{line-height:1.25em;margin:1em 0;}
sup{font-size:.7em;line-height:0;vertical-align:super;}
img{vertical-align:text-top;}
hr{ border:0;height:1px;background:#333;background-image:linear-gradient(to right, #ccc, #333, #ccc); }

h1 {
  font-size: 38px
}

@media (max-width:480px) {
  h1 {
      font-size: 38px
  }
}

@media (min-width:480px) {
  h1 {
      font-size: calc(38px + 12 * ((100vw - 480px)/ 512))
  }
}

@media (min-width:992px) {
  h1 {
      font-size: 50px
  }
}

h2 {
  font-size: 28px
}

@media (max-width:480px) {
  h2 {
      font-size: 28px
  }
}

@media (min-width:480px) {
  h2 {
      font-size: calc(28px + 10 * ((100vw - 480px)/ 512))
  }
}

@media (min-width:992px) {
  h2 {
      font-size: 38px
  }
}

h3 {
  font-size: 19px
}

@media (max-width:480px) {
  h3 {
      font-size: 19px
  }
}

@media (min-width:480px) {
  h3 {
      font-size: calc(19px + 7 * ((100vw - 480px)/ 512))
  }
}

@media (min-width:992px) {
  h3 {
      font-size: 26px
  }
}

h4 {
  font-size: 16px
}

@media (max-width:480px) {
  h4 {
      font-size: 16px
  }
}

@media (min-width:480px) {
  h4 {
      font-size: calc(16px + 2 * ((100vw - 480px)/ 512))
  }
}

@media (min-width:992px) {
  h4 {
      font-size: 18px
  }
}

h5 {
  font-size: 16px
}

@media (max-width:480px) {
  h5 {
      font-size: 16px
  }
}

@media (min-width:480px) {
  h5 {
      font-size: calc(16px + 2 * ((100vw - 480px)/ 512))
  }
}

@media (min-width:992px) {
  h5 {
      font-size: 18px
  }
}

h6 {
  font-size: 16px
}

@media (max-width:480px) {
  h6 {
      font-size: 16px
  }
}

@media (min-width:480px) {
  h6 {
      font-size: calc(16px + 2 * ((100vw - 480px)/ 512))
  }
}

@media (min-width:992px) {
  h6 {
      font-size: 18px
  }
}


.inner{position:relative;padding:6px 10px;}
.inner:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.title{font-size:30px;}

#footer,
#header{position:fixed;left:0;height:50px;width:100%;z-index:999;line-height:26px;background:#fff;}
#header{top:0;border-bottom:1px solid silver;}
#footer{bottom:0;border-top:1px solid silver;}

#aside{position: fixed;display:none;overflow: auto;background: #e9e9e9;top: 51px;bottom: 51px;left: 0;width: 100%;border-right: 1px solid #899caa}
#aside.on{display:block;}
@media only screen and (max-width: 768px) {
  #aside {
    width: 100%;
  }
}

#aside li{position:relative;margin:0 0 6px 2.5em;line-height:2em;}
#aside a{display:inline-block;padding-left:5px;color:#444;}
#aside a:visited{color:#445058;}
#aside li a.active{font-weight:bold;}

#content .inner{padding:50px 10px;}
#header ul.pagination{float:left;}
ul.pagination{display:inline-block;list-style:none;margin:0;padding:0 8px;}
ul.pagination li{float:left;}
ul.pagination li a.selected{background:#d2e0ea;}
ul.pagination li a,
ul.pagination li span,
#footer .page_title,
#footer .book_title,
#footer .book_percent,
#speakNext,
#speakButton,
#speakPrev,
#header a.toc,
#header a.read,
#header a.library{background:#e9e9e9;border:solid 1px silver;border-radius:3px;box-shadow:inset 0 1px 0 rgba(255,255,255,.7), 0 1px 3px rgba(0,0,0,.1);color:#717171;font-size:12px;line-height:26px;display:block;float:left;margin:0 6px 0 0;padding:5px 7px;text-decoration:none;text-shadow:1px 1px 0 rgba(255,255,255,0.7);}

ul.pagination li a,
ul.pagination li span{font-size:16px;}

#header a.toc.on{background: #d2e0ea;}
#header .nav{display:inline-block;width:100%;text-align:center;}
#header .read{background-color:#e6dabf;}
#speakContainer{float:right;}
#speakContainer{position:relative;margin-right:8px;}
#speakButton,
#speakPrev,
#speakNext{background:#d2e0ea;border:1px solid #899caa;-moz-border-radius:3px;border-radius:3px;display:inline-block;float:right;position:relative;text-decoration:none;z-index:30;color:#445058;font-weight:700;text-shadow:1px 1px #fff;}
#speakNext{margin-left:3px;}
#speakPrev{margin-right:3px;}
#speakButton{margin:0;}

#speakBox{display:none;position:absolute;right:0;top:100%;z-index:29;}
#tts{-moz-border-radius:3px 0 3px 3px;background:#d2e0ea;border:1px solid #899caa;border-radius:3px 0 3px 3px;margin-top:-1px;padding:6px;width:330px;}
#tts fieldset{border:0;display:block;margin:0 0 12px;padding:0;}
fieldset#tts_body{-moz-border-radius:3px;background:#fff;border-radius:3px;margin:0;padding:10px 13px;}
#tts fieldset.buttons-wrapper{margin:12px 0 0;}
.js-api-support,
#button-stop,
#button-pause,
#button-resume,
#speakPrev,
#speakNext,
#wave_inactive{display:none;}
.book_list{margin:0 -10px 0 0; display: flex;flex-wrap: wrap;justify-content: space-around;list-style:none;}


/* Small screens */
@media all and (max-width: 500px) {
  .book_list {
    flex-direction: column;
  }
}


.book_list:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;line-height: 0;}

.book_list li{width: calc(50% - 10px);float:left;border:1px solid silver;margin:0 0 10px 0;vertical-align:top;border-radius:3px;}
.book_list h2{font-size:20px;margin:0 0 10px 0;text-align:left;}
.book_list h2 a{display:inline-block;line-height:1.2em;}
.book_block{
	padding:10px;
}
.book_block:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;line-height: 0;}
.book_block .book_info{margin-right:110px;}
.book_block .book_info:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;line-height: 0;}
.book_block .book_info p{text-align:justify;}
.book_block .book_info .book_links{margin:20px 0 0;}
.book_block .img-container{position:relative;right:-1px;float:right;margin-right:-109px;text-align:center;width:100px;}
.book_block .img-container a{display:inline-block;width:100%;text-decoration:none;border:1px solid #ccc;border-radius:1px;overflow:hidden;}
.book_block .img-container img{height:auto;width:100%;vertical-align:middle;border-radius:1px;}
.noscroll {overflow: hidden;}
.nav_container{float:left;}
.word_highlight{text-decoration:underline;}
#content .read{background:#dcdcdc;}

body [class*=" icofont-"],
body [class^=icofont-]{
  line-height: inherit;
}